 
  body {

    background-color: #fff;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 402px;
    padding: 50px;
    width: 950px;
  }





  .App-header {
    background-color: #4DB6AC;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
  }
  
  /* 
  #545456 */
  .App-title {
    font-size: .9em; 
    font-weight: 200;
    letter-spacing: 3px; 
  }



  /* LOGO CSS */
  .navbar-brand {
    display: flex;
    align-items: center;
   
  }
  .navbar-brand>img {
    padding: 7px 14px;
  }

  .navbar-default .navbar-nav>li>a {
    color: white !important;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #3949AB !important;

}

  .navbar {
    background-color: #4DB6AC !important;
    
  }

  .modalAlert .modal-content  {
  
    color: #a94442;
    border-color: #ebccd1;

  }



  .veriGroup {

    background-color: rgba(238,241,244,0.5);
    padding: 30px;
    border-radius: 5px;
    
  }

  .cardSection {
    margin-bottom: 10px;
  }


    /* FormGroup CSS */

    .formGroupInput {

      margin-bottom: 10px !important;

    }



    .sponsorLbl {

      color: #009688;

    }